<h2 class='my-3'><%= @user.name %></h2>
  <% @user.tasks.each do |task| %>
    <ul class='nav flex-column'>
      <li class='nav-item'>
        <%= task.title %>
      </li>
    </ul>
  <% end %>
<div class="my-2">
  <%= lineless_link_to(t('return'), admin_users_path) %>
</div>
